<ion-header>
  <ion-toolbar>
    <ion-title>
      Mood Movie Suggestor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="moodForm" (ngSubmit)="suggestMovie()">
    <ion-item>
      <ion-label>What mood are you in?</ion-label>
      <ion-select formControlName="mood">
        <ion-select-option *ngFor="let mood of moods" [value]="mood">{{ mood }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" [disabled]="!moodForm.valid">Suggest a movie</ion-button>
  </form>
  
</ion-content>
